<div class="panel panel-warning" >
  <div class="panel-heading">
    <div class="row">
      <div class="panel-heading">
        <div class="col-xs-3 col-sm-1" ng-switch="model.type">
            <div ng-switch-when="multiple-choice">
                <span title="QCM" class="glyphicon glyphicon-check" style="font-size: 260%"></span>
            </div>
            <div ng-switch-when="open-ended-question">
                <span class="glyphicon glyphicon-question-sign" style="font-size: 260%"></span>
            </div>
            <div ng-switch-when="pair-items">
                <span title="Exercice d'appariement" title="Exercice d'appariement" class="glyphicon glyphicon-random" style="font-size: 260%"></span>
            </div>
            <div ng-switch-when="order-items">
                <span title="Exercice d'ordonnancement" class="glyphicon glyphicon-sort" style="font-size: 260%"></span>
            </div>
            <div ng-switch-when="group-items">
                <span title="Exercice de groupement" class="glyphicon glyphicon-link" style="font-size: 260%"></span>
            </div>
        </div>
        <div class="col-xs-4 col-sm-7">
            <h4>{{ model.title }}</h4>
        </div>
        <div class="col-xs-3 col-sm-3">
            <h4>{{ users[model.owner].first_name }} {{ users[model.owner].last_name }}</h4>
        </div>
        <div class="col-xs-2 col-sm-1">
          <h4>
            <span ng-if="model.complete"
               class="glyphicon glyphicon-repeat"
               ng-click="$event.stopPropagation();tryModel(model)"
               style="cursor:pointer;"
               title="Nouvelle tentative pour ce modèle">
            </span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
