<div data-ng-controller="orderItemsController">
  <div class="row">
    <div nf-if="help != null"><strong>Aide :</strong> {{ help }}</div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <b>Votre réponse:</b>
      <ul id='toSortable' class="etiquette txt-etiquette etiquette-empty"
      title="Déposer vos réponses ici">
      </ul>
    </div>
    <div class="col-xs-8" ng-if="item.corrected">
      <b>Solution:</b>
      <div ng-repeat="object in solution track by $index" class="row">
        <div class="col-xs-6">
          <div ng-if="object.object.object_type == 'text'" class="etiquette txt-etiquette">
            <div ng-bind-html="to_trusted(object.object.text)"></div>
          </div>
          <div ng-if="object.object.object_type == 'picture'">
            <a href="{{ imageUrl }}{{ object.object.source }}" data-lightbox="imageMobile" data-title="Objet">
              <img ng-src="{{ imageUrl }}{{ object.object.source }}" class="etiquette img-etiquette"/>
            </a>
          </div>
        </div>
        <div class="col-xs-6" ng-if="item.content.values.length > 0">
          <div class="etiquette txt-etiquette">
            <div>
              <p>{{ object.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4" ng-if="!item.corrected">
      <b>Objets à glisser-déposer:</b>
      <div id="fromSortable" class="object-list">
        <div ng-repeat="mobileObject in item.content.objects track by $index">
            <div ng-if="mobileObject.object_type == 'text'" order="{{$index}}" id="drag-{{$index}}" class=" draggable etiquette txt-etiquette">
              <div ng-bind-html="to_trusted(mobileObject.text)"></div>
            </div>
            <div ng-if="mobileObject.object_type == 'picture'">
              <a href="{{ imageUrl }}{{ mobileObject.source }}" data-lightbox="imageMobile" data-title="Partie mobile">
                <img ng-src="{{ imageUrl }}{{ mobileObject.source }}" class="etiquette img-etiquette"/>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-hide="!item.corrected">
      <strong>Votre score :</strong> {{ item.content.mark | number:0 }}%
    </div>
  </div>
  <ng-include src="navBarUrl"></ng-include>

    <script>
        $(function () {
            var window_height = $(window).height(),
                content_height = window_height - 190; // 484

            $('.fixPanel').height(content_height);
        });

        $(window).resize(function () {
            var window_height = $(window).height(),
                content_height = window_height - 190;
            $('.fixPanel').height(content_height);
        });
    </script>

</div>
