/web/bundles/
/web/uploads/claire_exercise/*
!web/uploads/claire_exercise/ids
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
