/web/bundles/
/web/oracle.php
/web/uploads/claire_exercise/*
!web/uploads/claire_exercise/ids
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/src/SimpleIT/ClaireExerciseBundle/Resources/public/frontend/js/modules/utils/build.js
/app/config/version.yml
/app/config/jwtRS256.key
/app/config/jwtRS256.key.pub
/app/config/comper.yml
